<div id="translated">{{t "test"}}</div>
<div id="translated-with-args0">{{t "testarg" count=0}}</div>
<div id="translated-with-args1">{{t "testarg" count=1}}</div>
<div id="translated-with-args3">{{t "testarg" count=3}}</div>
<div id="translated-with-bound-args">{{t "testarg" count=count}}</div>
<div><a id="change-language-link" href="#" {{action 'changeLanguage'}}>Change Language</a></div>
